---
import Layout from "../layouts/Layout.astro";
import Planned from "./_index/Planned";
import Tickets from "./_index/Tickets";
import { env } from "../env";

const refreshInterval = env.REFRESH_INTERVAL;
---

<Layout>
  <header class="bg-hkr mb-8 flex items-center justify-center rounded p-4">
    <h1 class="text-center text-5xl font-black text-gray-950">
      IT-DRIFT STATUS
    </h1>
  </header>
  <main class="grid gap-8 lg:grid-cols-2">
    <Tickets client:load refreshInterval={refreshInterval} />
    <Planned client:load refreshInterval={refreshInterval} />
  </main>
</Layout>
